@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: acta;
    src: url(./assets/fonts/ActaDisplayLight.woff2);
}
@font-face {
    font-family: gilroy;
    src: url(./assets/fonts/Gilroy-ExtraBold800.woff);
}

@font-face {
  font-family: lato;
  src: url(./assets/fonts/Lato-Regular.ttf);
}

:root {
  --primary-color: #F1CF0C;
  --secondary-color: #8E8E8E;
  --yellow-secondary-color: #F0A500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
  display: none !important;
}

.swiper {
  width: 100%;
  max-height: 70vh;
  overflow:hidden;
  border-radius: 10px;
}

.swiper-slide {
  width: 100%;
  height: 450px;
  text-align: center;
  font-size: 18px;
  
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-device-width: 480px) {
  .est-text {
    font-size: 5vw;
    line-height: 6vw;
  }
  .est-text-heading {
    font-size: 6vw;
  }

  .footer-head .heading {
    font-size: 5vw;
  }
  .swiper {
    width: 90%;
    max-height: 70vh;
    overflow:hidden;
    border-radius: 10px;
  }
  .swiper-slide {
    width: 300px;
    height: 200px;
    font-size: 14px;
  }
  
  .workshop-cont{
    flex-direction: column;
  }
  .workshop-cont :nth-child(1) {
    width: 100%;
    border-radius: 5px;
  }
  .workshop-cont :nth-child(2) {
    width: 100%;
    margin-top: 10px;
  }
  .workshop-cont :nth-child(2) h1 {
    font-size: 6vw;
  }
  .workshop-cont :nth-child(2) p {
    font-size: 3.5vw;
    font-weight: 100;
  }
}

.footer .link {
  transition: .3s;
  background-color: var(--primary-color);
}

.footer .link:hover {
  background-color: black;
  color: var(--yellow-secondary-color);
}

@media screen and (max-device-width: 480px) {
   .contat-links{
    margin-top: 0px;
    font-size: 3vw;
  }
}